body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

input, textarea, button {font-family: inherit}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #5FCB71;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav ul{
  padding: 0; 	
  list-style-type: none;
}

.sidenav img{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	
}

.sidenav p {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  text-align: center;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  margin-left: 20px;
}

.sidenav a:hover {
  color: #000;
}

.sidenav .a-btn{
	margin: 0;
	padding: 0;
}

.buttonHolder{
  text-align: center; 
}

.resume-btn{
	padding: 15px;
	background-color: #428E4F;
	border: none;
	text-decoration: none;
    font-size: 15px;
	color: #fff;
	border-radius: 10px;
}

.resume-btn:hover{
	background-color: #397A44;
}

.main {
  margin-left: 300px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

#blog-summary-list{
  width: 600px;	

  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  margin-bottom: 100px;  
}

.blog-summary{
	margin-bottom: 10px;
}

.blog-summary h2, h5{
	padding: 0px;
	margin: 0 0 5px 0;
}

.blog-summary h5{
	color: grey;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


